/.idea
/.vscode
/.git
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/views/*
/vendor
.DS_Store
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/mix.js
/mix-manifest.json

